<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin response to request</title>
    <link rel="stylesheet"
          href="webjars/bootstrap/4.5.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

</head>
<body>
<div class="container">
    <div style="text-align: center">
        <h4>
            <b>Заявки клиентов</b>
        </h4>
    </div>

    <div class="col text-center">
        <br>
        <h4>Чтобы просмотреть заявку и установить дату и цену за ремонт нажмите на заявку</h4>
    </div>
    <br>

    <div class="card-block">
        <table class="table table-hover table_morecondensed" id="myTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>DATE OF CREATION</th>
                <th>DATE FROM</th>
                <th>DATE BEFORE</th>
                <th>DESCRIPTION</th>
                <th>PRICE</th>
                <th>FAULTS</th>
                <th>MARK</th>
                <th>MODEL</th>
                <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="responseToRequestAdmin : ${notifications}"
                th:onclick="'javascript:openContactsModal(\'' + ${responseToRequestAdmin.id} + '\'">
                <td th:text="${responseToRequestAdmin.id}"></td>
                <td th:text="${responseToRequestAdmin.user.firstName}"></td>
                <td th:text="${responseToRequestAdmin.user.lastName}"></td>
                <td th:text="${responseToRequestAdmin.dateTime}"></td>
                <td th:text="${responseToRequestAdmin.dateFrom}"></td>
                <td th:text="${responseToRequestAdmin.dateBefore}"></td>
                <td th:text="${responseToRequestAdmin.description}"></td>
                <td th:text="${responseToRequestAdmin.price}"></td>
                <td th:text="${responseToRequestAdmin.faults}"></td>
                <td th:text="${responseToRequestAdmin.mark}"></td>
                <td th:text="${responseToRequestAdmin.model}"></td>
                <td th:text="${responseToRequestAdmin.status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="myNotificationModal" tabindex="-1" role="dialog" th:fragment="modalNotification">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Заявка пользователя</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="myContactId">Details</p>
                <p id="myContactFirstName">Details</p>
                <p id="myContactLastName">Details</p>
                <p id="myContactDateTime">Details</p>
                <p id="myContactDateFrom">Details</p>
                <p id="myContactDateBefore">Details</p>
                <p id="myContactDescription">Details</p>
                <p id="myContactPrice">Details</p>
                <p id="myContactFaults">Details</p>
                <p id="myContactMark">Details</p>
                <p id="myContactModel">Details</p>
                <p id="myContactStatus">Details</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary"
                        data-dismiss="modal">Close</button>
                <a href="" class="btn btn-sm btn-danger" id="delRef">Delete</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript"
        src="webjars/jquery-validation/1.19.0/jquery.validate.min.js"></script>
<script type="text/javascript"
        src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

<script type="text/javascript">
    function openContactsModal(id) {

        $.ajax({
            url: "/findOne?id="+ id,
            success: function(data){
                //alert(id);
                //alert(data);
                var myJSON = JSON.stringify(data);

                //alert(myJSON);

                var tmpData = JSON.parse(myJSON);
                var formattedJson = JSON.stringify(tmpData, null, ' ');

                //alert(formattedJson);

                $('#myContactid').html('Id is : ' + data.id);
                $('#myContactFirstName').html('FirstName is : ' + data.firstname);
                $('#myContactLastName').html('LastName is : ' + data.lastname);
                $('#myContactDateTime').html('Phone Number is : ' + data.phonenumber);
                $('#myContactDateFrom').html('Phone Number is : ' + data.phonenumber);
                $('#myContactDateBefore').html('Phone Number is : ' + data.phonenumber);
                $('#myContactDescription').html('Email-Id is : ' + data.email);
                $('#myContactPrice').html('Address is : ' + data.address);
                $('#myContactFaults').modal("show");
                $('#myContactMark').modal("show");
                $('#myContactModel').modal("show");
                $('#myContact').modal("show");
            }

        });
    }
</script>
</body>
</html>























<!--<div class="myForm">-->
<!--    <form th:action="@{/adminResponseToRequest}" method="post" id="responseToRequestForm" name="responseToRequestForm">-->
<!--        <div class="modal fade" id="exampleModal" tabindex="-1"-->
<!--             role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLabel">Форма заявки</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <div class="form-group" hidden="true">-->
<!--                            <label for="id" class="col-form-label">ID:</label> <input-->
<!--                                type="text" class="form-control form-control-sm btn-space"-->
<!--                                id="id" name="id"/>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="firstName">First Name:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="text"-->
<!--                                       class="form-control form-control-sm btn-space" id="firstname"-->
<!--                                       name="firstname"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="lastName">Last Name:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="text"-->
<!--                                       class="form-control form-control-sm btn-space" id="lastName"-->
<!--                                       name="lastName">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="dateTime">Date Time:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="text"-->
<!--                                       class="form-control form-control-sm btn-space" id="dateTime"-->
<!--                                       name="dateTime">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="dateFrom">Date From:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="date"-->
<!--                                       class="form-control form-control-sm btn-space" id="dateFrom"-->
<!--                                       name="dateFrom">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="dateBefore">Date Before:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="date"-->
<!--                                       class="form-control form-control-sm btn-space" id="dateBefore"-->
<!--                                       name="dateBefore">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="description">Description:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="text"-->
<!--                                       class="form-control form-control-sm btn-space" id="description"-->
<!--                                       name="description">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="price">Price:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="number"-->
<!--                                       class="form-control form-control-sm btn-space" id="price"-->
<!--                                       name="price">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="faults">Faults:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="text"-->
<!--                                       class="form-control form-control-sm btn-space" id="faults"-->
<!--                                       name="faults">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="mark">Mark:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="text"-->
<!--                                       class="form-control form-control-sm btn-space" id="mark"-->
<!--                                       name="mark">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="model">Model:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="text"-->
<!--                                       class="form-control form-control-sm btn-space" id="model"-->
<!--                                       name="model">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <label class="col-md-4 control-label boldlabel text-right"-->
<!--                                   for="status">Status:</label>-->
<!--                            <div class="col-md-7 pull-left">-->
<!--                                <input type="text"-->
<!--                                       class="form-control form-control-sm btn-space" id="status"-->
<!--                                       name="status">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-sm btn-secondary btn-space"-->
<!--                                data-dismiss="modal">Close-->
<!--                        </button>-->
<!--                        <input type="submit" class="btn btn-sm btn-primary btn-space" value="Save">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--<div class="card-block">-->
<!--    <table class="table table-hover table_morecondensed" id="myTable" border="3">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>FIRST NAME</th>-->
<!--            <th>LAST NAME</th>-->
<!--            <th>DATE OF CREATION</th>-->
<!--            <th>DATE FROM</th>-->
<!--            <th>DATE BEFORE</th>-->
<!--            <th>DESCRIPTION</th>-->
<!--            <th>PRICE</th>-->
<!--            <th>FAULTS</th>-->
<!--            <th>MARK</th>-->
<!--            <th>MODEL</th>-->
<!--            <th>STATUS</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="responseToRequestAdmin : ${notifications}">-->
<!--            <td th:text="${responseToRequestAdmin.id}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.user.firstName}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.user.lastName}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.dateTime}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.dateFrom}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.dateBefore}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.description}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.price}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.faults}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.mark}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.model}"></td>-->
<!--            <td th:text="${responseToRequestAdmin.status}"></td>-->
<!--            <td><a th:href="@{findOne/(id=${responseToRequestAdmin.id})}"-->
<!--                   class="btn-sm btn-warning btn-space editBtn">Edit</a></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->
