<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Forgot Password</title>
</head>
<body>
<form th:action="@{/passwordRecoveryEmail}" method="post" th:object="${token}">
    <div><label> Электронная почта Email : <input th:value="${email}" type="text" name="email"></label></div>
    <div><input type="submit" value="Отправить токен на почту"/></div>
</form>
</body>
</html>