<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>New Password</title>
</head>
<body>
<form th:action="@{/newPasswordUser}" method="post" th:object="${reset}">
  <input hidden="hidden" type="email" th:value="${reset.getUserEmail()}" name="userEmail">
  <div><label> Токен : <input th:value="${token}" type="number" name="token"></label></div>
  <div><label> Новый пароль : <input th:value="${password}" type="password" name="password"></label></div>
  <div><input type="submit" value="Сохранить пароль"/></div>
</form>
</body>
</html>