<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>New Password</title>
</head>
<body>
<h3>Форма подтверждения токена и новый пароль</h3>
<form th:action="@{/newPasswordUser}" method="post">
    <div><label> Токен : <input type="number" th:name="token"></label></div>
    <div><label> Новый пароль : <input type="password" th:name="newPassword"></label></div>
    <div><input type="submit" value="Сохранить пароль"/></div>
</form>
</body>
</html>